includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 5
    scanDirectories:
        - database
    fileExtensions:
        - php
    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - resources
    excludePaths:
        - app/Console/Commands/Develop/stubs
    ignoreErrors:
        - '#Call to an undefined method Laravel\\Socialite\\Contracts\\Provider::stateless#'
        - '#Call to an undefined method Tymon\\JWTAuth\\Contracts\\JWTSubject::\w+#'
