name: Deploy Laravel App to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to Production Server
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/deploy_key.pem
        chmod 600 ~/.ssh/deploy_key.pem

    - name: Add known hosts
      run: |
        ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

    - name: Deploy Code via SSH
      run: |
        ssh -i ~/.ssh/deploy_key.pem -T -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} bash << 'EOSSH'
          echo "Navigating to the backend directory and stashing changes"
          cd /var/www/pincap/pincap/pincap-be || { echo "Failed to cd into /var/www/pincap/pincap/pincap-be"; exit 1; }

          git stash || { echo "Git stash failed"; exit 1; }

          echo "Pulling the latest code from the master branch"
          git pull origin master || { echo "Git pull failed"; exit 1; }

          echo "Navigating back to Laradock directory"
          cd ../../laradock || { echo "Failed to cd back into /var/www/pincap/laradock"; exit 1; }

          docker-compose up -d || { echo "Docker-compose up failed"; exit 1; }

          echo "Proceeding with migrations and optimization..."
          docker-compose exec -T workspace bash -c 'php artisan migrate --force && php artisan config:clear && php artisan route:clear && php artisan view:clear && php artisan queue:clear && php artisan queue:restart && php artisan optimize' || { echo "Optimize or migrate failed";}


          echo "Optimization successfully."

          echo "Update api documentation"
          cd ../../pincap/pincap/api-documentation/ || { echo "Failed to cd into /var/www/pincap/pincap/api-documentation"; exit 1; }
          git stash || { echo "Git stash failed"; exit 1; }
          git pull origin master || { echo "Git pull failed"; exit 1; }

          echo "Deployment completed successfully"
        EOSSH
